@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:ital,wght@0,500;1,800&family=Roboto+Slab:wght@100;300;400;500;700&display=swap");
:root {
  --primary-color: #e6b325;
  --color-letter: #3F2305;
  --color-hover: #bebebe;
  --background-items: #F2EAD3;
  --red: #f80000;
  --border: 0.2rem solid rgba(14, 13, 13, 0.2);
  --background: #F5F5F5;
  --marronzin-latter: #3c2a21;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition-duration: 0.2s;
  font-family: "Roboto Slab", serif;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  transition: all 0.3s ease 0s;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgba(211, 173, 127, 0.49) 10%,
    rgb(0, 0, 0) 90%
  );
  border-radius: 5rem;
}

body {
  background: var(--background);
}

section,
main {
  padding: 2rem 7%;
}

span {
  color: #e6b325;
  text-transform: uppercase;
}

span:hover {
  color: #ffeb3b;
}

.heading {
  color: var(--marronzin-latter);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.header {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 1.4rem 7%;
  z-index: 1000;
  align-items: center;
  background: rgba(0, 0, 0, 0.877);
  justify-content: space-between;
  border-bottom: var(--border);
  height: 10%;
}

.header .logo img {
  height: 6rem;
  margin: 0px 2rem;
  inline-size: max-content;
}

.header .logo img:hover {
  cursor: grab;
  transform: translateY(-0.2rem);
}

.header .navbar a {
  margin: 0px 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
}

.header .navbar a:hover {
  color: var(--primary-color);
  border-bottom: 0.1rem solid var(--primary-color);
  padding-bottom: 0.5rem;
}

.header .icon a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  justify-content: flex-end;
}

.header .icon a:hover {
  color: var(--primary-color);
}

#menu-btn {
  display: none;
}

.header .search-box-section {
  transition: all 0.2s ease-in-out 0s;
  position: absolute;
  top: 115%;
  right: 7%;
  display: flex;
  width: 50rem;
  height: 5rem;
  background: rgb(255, 255, 255);
  align-items: center;
  transform: scaleY(0);
  transform-origin: center top;
}

.header .search-box-section input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
}

.header .search-box-section label {
  color: var(--color-letter);
  font-size: 1.6rem;
  margin-right: 2rem;
}

.header .cart-items-section {
  will-change: transform;
  position: absolute;
  top: 100%;
  right: -300vh;
  transition: all 2.5s ease 0s;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: rgb(255, 255, 255);
  padding: 0px 1.5rem;
  display: grid;
}

.header .cart-items-section .cart-item {
  position: relative;
  display: flex;
  margin: 0;
  gap: 1.5rem;
  align-items: center;
}

.header .cart-items-section .cart-item:hover {
  background-color: rgb(222, 222, 222);
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
  border-radius: 1.8rem;
}

.header .cart-items-section .cart-item img {
  height: 10rem;
  width: 10rem;
}

.header .cart-items-section .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}

.header .cart-items-section .cart-item .fa-times:hover {
  transition: all 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  color: var(--red);
}

.header .cart-items-section .cart-item img {
  height: 7rem;
}

.header .cart-items-section .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.header .cart-items-section .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.header .cart-items-section .btn {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin: auto;
}

.header .cart-items-section .btn:hover,
.menu .box-container .box .btn:hover {
  background: rgb(30, 154, 30);
  transition: all 0.3s ease 0s;
  transform: translate(0px, -5px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--primary-color);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: rgb(189, 138, 37);
  transition: all 0.3s ease 0s;
  transform: translate(0px, -5px);
}

.home-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("../image/background/BKD.png");
  background-size: 80%;
  background-position-x:  98%;
  background-position-y:  100%;
  background-repeat: no-repeat;
}

.home-container .content {
  max-width: 60rem;
  filter: brightness(100%);
}

.home-container .content h1 {
  font-size: 3.9rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* animação de texto na home */
.home-container .content h1 {
  display: inline-block;
  animation: text 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home-container .content p {
  font-size: 1.5rem;
  color: var(--color-letter
  );
  font-weight: 800;
  line-height: 1.8;
  padding: 1rem 0px;
}

.home-container .content h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
.home-container .content .btn {
  /* animação de botao de home */
  animation: pulse 2s infinite;
}

.about-container .row {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background: var(--background-items);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px 5px;
  border-radius: 2rem;
  margin-bottom: 10px;
}

.about-container .row .image {
  flex: 1 1 45rem;
}

.about-container .row .image img {
  width: 70%;
  height: 100%;
  margin-top: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.about-container img:hover {
  cursor: grab;

  transform: scale(1.1);
}

.about-container .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about-container .row .content span {
  padding-top: 1rem;
  font-size: 3rem;
}

.about-container .row .content h2 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--color-letter);
  padding: 1rem 0px;
}

.about-container .row .content p {
  font-size: 1.6rem;
  color: var(--color-letter);
  line-height: 1.8;
  padding: 1rem 0px;
}

/* animação about-container */

.about-container {
  opacity: 0;
  transform: translateX(-100px);
  animation: show 1s forwards;
  animation-delay: 0.5s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.menu .box-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
  background-color: var(--background-items);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px 5px;

  transition: all 0.3s ease 0s;
  border-radius: 1rem;
}

.menu .box-container .box img {
  height: 12rem;
}

.menu .box-container .box h3 {
  font-size: 2rem;
  color: #e6b325;
  padding: 1rem 0px;
}

.menu .box-container .box .price {
  font-size: 1.6rem;
  color: rgb(254, 255, 254);
  line-height: 1.8;
  font-weight: 700;
  padding: 0.5rem;
}

.menu .box-container .box .price span {
  font-weight: 700;
  color: var(--red);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.menu .box-container .box:hover {
  background: #f1dec9;
  transition: all 0.3s ease 0s;
  transform: translate(0px, -5px);
}

.products .box-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: 2rem;
}

.products .box-container .box {
  padding: 2rem;
  background: #DFD7BF;
  transition: all 0.3s ease 0s;
  border: var(--border);
  text-align: center;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px 1px;
}

.products .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: rgb(255, 255, 255);
  margin: 0.3rem;
}

.products .box-container .box .icons a:hover {
  background-color: var(--primary-color);
}

.products .box-container .box .image img {
  height: 22rem;
  margin-top: 1rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--green-latter);
  padding: 1rem 0px;
}

.products .box-container .box .content .stars i {
  color: #cbf110;
  font-size: 1.7rem;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}

.products .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 700;
  color: var(--red);
}

.products .box-container .box:hover {
  transition: all 0.3s ease 0s;
  transform: translate(0px, -15px);
}

.review .box-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: 2rem;
  color: var(--color-letter);
}

.review .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: var(--border);
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: var(--green-latter);
  line-height: 1.8;
  padding: 2rem 0px;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box .user h3 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0px;
}

.review .box-container .box .stars i {
  color: #ffeb3b;
  font-size: 1.7rem;
}

.review .box-container .box img {
  height: 10rem;
  margin-top: 1rem;
}

.review .box-container .box h3 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0px;
}

/* animação para review aparecer com scroll */

.review .box-container .box {
  opacity: 0;
  transform: translateY(100px);
  animation: show 1s forwards;
  animation-delay: 0.5s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contact .row {
  display: flex;
  align-items: center;
  background: #DFD7BF;
  flex-wrap: wrap;
  border: var(--border);
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px 5px;
  border-radius: 2rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  height: 40rem;
  overflow: hidden;
  border: var(--border);
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  background: transparent;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: var(--border);
}

.contact .row form .inputBox span {
  padding: 0 1rem;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  background: #DFD7BF                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ;
  border: none;
  text-transform: none;
}

.blogs .box-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-bottom: 10px;
  color: var(--color-letter);

}

.blogs .box-container .box {
  border: var(--border);
  transition: all 0.3s ease 0s;
  border-radius: 1rem;
  overflow: hidden;
}

.blogs .box-container .box .image {
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(13, 13, 13);
  padding: 1rem 0px;
}

.blogs .box-container .box .content .title:hover {
  color: var(--primary-color);
}

.blogs .box-container .box .content span {
  color: var(--primary-color);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--green-latter);
  padding: 1rem 0px;
}

.blogs .box-container .box .content h2 {
  color: #cbf110;
}


.blogs .box-container .box {
  opacity: 0;
  transform: translateY(100px);
  animation: show 1s forwards;
  animation-delay: 0.5s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.footer {
  background: var(--black);
  text-align: center;
  padding: 2rem 0px;
}

.footer .social {
  padding: 1rem 0px;
}

.footer .social a {
  height: 5rem;
  width: 5rem;

  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: #3F2305;
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .social a:hover {
  background-color: var(--primary-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0px;
  gap: 1rem;
}

.footer .links a {
  color: #3F2305;
  padding: 0.7rem 2rem;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background-color: var(--primary-color);
}

.footer .credit {
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--primary-color);
}

.contact-container .row {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-container .row .image {
  flex: 1 1 40rem;
  display: contents;
}

.contact-container .row .image img {
  width: 70%;
  height: 100%;
  border-bottom: 5px solid rgb(4, 4, 4);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px 5px;
  margin-top: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}

.contact-container .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.contact-container .row .content h3 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.header .navbar.active {
  right: 0px;
  transition: all 0.3s steps(80) 0s;
}

.header .cart-items-section.active {
  right: 0px;
  transition: all 0.3s ease 0s;
  border-radius: 1rem;
}

.header .search-box-section.active {
  transform: scaleY(1);
}

.cart-item {
  opacity: 0;
  transition: all 0.3s steps(80) 0s;
  transform: translateX(100%);
}

.show-cart-item {
  opacity: 1;
  transform: translateX(0px);
}

.show-cart-item:nth-child(1) {
  transition-delay: 0.1s;
}

.show-cart-item:nth-child(2) {
  transition-delay: 0.2s;
}

.show-cart-item:nth-child(3) {
  transition-delay: 0.3s;
}

.show-cart-item:nth-child(4) {
  transition-delay: 0.4s;
}

@media (max-width: 1000px) {
  .home-container {
    opacity: 0.5;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .home-container .content h3 {
    display: none;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }

  .header .logo img {
    height: 5rem;
    margin: 0px 1rem;
  }

  .about-container .row .image {
    display: flex;
    justify-content: center;
  }

  .about-container .row .image img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .home-container {
    background-image: none;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -300vh;
    background: rgb(255, 255, 255);
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0px;
  }

  .header .navbar a {
    display: block;
    padding: 0.5rem;
    color: var(--black);
    font-size: 2rem;
    margin: 1.5rem;
  }

  .header .search-box-section {
    width: 90%;
    right: 2rem;
  }

  .home-container {
    background-position: left center;
    justify-content: center;
    text-align: center;
  }

  .home-container .content h3 {
    font-size: 4.5rem;
  }

  .home-container .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* animação r */

.progress {
  background-color: #fff;
  overflow: hidden;
  width: 16rem;
  height: 0.25rem;
}

.progress .inner {
  background-color: #3c2a21;
  height: 100%;
  transform-origin: left;
  animation: progress 10s infinite;
}

@keyframes progress {
  from {
    transform: scaleX(-1%) translateX(-5%);
  }
  to {
    transform: scaleX(75%) translateX(130%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.box {
  animation-name: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0;
  transform: translateX(-100px);
}

/* cada filho adicionar .2s de trransição de uma vez */

.box:nth-child(1) {
  animation-delay: 0.5s;
}

.box:nth-child(2) {
  animation-delay: 0.7s;
}

.box:nth-child(3) {
  animation-delay: 0.9s;
}

.box:nth-child(4) {
  animation-delay: 1.1s;
}

.box:nth-child(5) {
  animation-delay: 1.3s;
}

.box:nth-child(6) {
  animation-delay: 1.5s;
}

.box:nth-child(7) {
  animation-delay: 1.7s;
}

@keyframes forwards {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

